.darkBG {
   background-color: rgba(0, 0, 0, 0.2);
   width: 100%;
   height: 100%;
   z-index: 0;
   top: 0;
   left: 0;
   position: fixed;
}

.centered {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   max-width: 400px;
}

.modal {
   background-color: white;
   z-index: 10;
   border-radius: 8px;
   box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
   padding: 32px;
   display: flex;
   flex-direction: column;
   gap: 16px;
   @media (max-width: 440px) {
      padding: 27px;
   }
}

.modalHeader {
   height: 50px;
   background: white;
   overflow: hidden;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
}

.heading {
   margin: 0;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   color: #334253;
}

.modalContent {
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #67727e;
}
.actionsContainer {
   display: flex;
   gap: 14px;
   justify-content: space-between;
   align-items: center;
   @media (max-width: 440px) {
      gap: 12px;
   }
}
.actionBtn {
   cursor: pointer;
   font-weight: 500;
   line-height: 150%;
   padding: 12px;
   border-radius: 8px;
   color: #fff;
   width: 161px;
   border: none;
   border-radius: 8px;
   transition: all 0.25s ease;
   @media (max-width:440px){
        width: 138px;
   }
}
.deleteBtn {
   background: #ff3e4e;
   @media (hover: hover) and (pointer: fine) {
      &:hover {
         background-color: rgba(255, 62, 78, 0.6);
      }
   }
}
.cancelBtn {
   background-color: #67727e;
   @media (hover: hover) and (pointer: fine) {
      &:hover {
         background-color: rgba(83, 83, 83, 0.6);
      }
   }
}
